beautifulsoup4>=4.12.3
fastapi>=0.115.0
gunicorn>=23.0.0
numpy>=1.26.4
pgvector>=0.3.5
psycopg[binary]>=3.2.1
python-dotenv>=1.0.1
requests>=2.32.3
sentence-transformers>=3.0.1
uvicorn[standard]>=0.30.6
